# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
ENV/
env/

# Django
db.sqlite3
media/uploads/
media/results/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
